accelerate==0.33.0
bertviz==1.4.0
captum==0.7.0
dataset==1.6.2
datasets==2.21.0
ecco==0.1.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
huggingface-hub==0.24.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
nltk==3.9.1
numpy==1.26.3
outlines==0.0.46
pandas==2.2.2
plotly==5.24.0
prompt_toolkit==3.0.47
regex==2024.7.24
safetensors==0.4.4
scikit-learn==1.2.2
scipy==1.14.0
seaborn==0.13.2
sentencepiece==0.2.0
simpletransformers==0.70.1
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tokenizers==0.19.1
toml==0.10.2
torch==2.4.0+cu124
torchaudio==2.4.0+cu124
torchvision==0.19.0+cu124
tqdm==4.66.5
transformers==4.44.0
transformers-interpret==0.10.0
urllib3==2.2.2
wandb==0.17.7

